/* Write your code here. */
.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.app-container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100vh;
  width: 50%;
}
.emojis-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}
.emojis-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  list-style-type: none;
}
