/* Write your code here. */
.win-lose-container {
  background-color: #ffffff33;
  height: 250px;
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
.details-section {
  display: flex;
  flex-direction: column;
}
.img {
  height: 150px;
  width: 150px;
  margin-top: 30px;
}
.game-status {
  color: #ffffff;
  font-size: 25px;
}
.score-label {
  color: #ffffff;
  font-size: 20px;
  margin-top: 0px;
}
.score {
  color: #ffffff;
  font-size: 20px;
  margin-top: 0px;
}
.button {
  background-color: #ffce27;
  color: #ffffff;
  height: 25px;
  width: 100px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 0px;
}
.status {
  color: #ffffff;
}
